[submodule "sem V/Machine Learning CS550/CS550"]
	path = sem V/Machine Learning CS550/CS550
	url = git@github.com:gagan-iitb/CS550.git
[submodule "sem V/Machine Learning CS550/handson-ml3"]
	path = sem V/Machine Learning CS550/handson-ml3
	url = git@github.com:ageron/handson-ml3.git
[submodule "Sem_VII/Crypto/assignments"]
	path = Sem_VII/Crypto/assignments
	url = https://github.com/karankumbhar47/Crypto_Assignments
